.\#accordion-with-images-thumbnail-header {
  font-family: var(--glob-button-family);
  font-size: var(--glob-button-size);
  font-weight: var(--glob-button-weight);
  text-transform: var(--glob-button-transform);
  letter-spacing: var(--glob-button-letter-spacing, normal);
  word-spacing: max(var(--glob-button-letter-spacing) * 1.1, 0.25em);
}

.\#accordion-with-images {
  --accordion-with-images-icon-transform: none;
  --accordion-with-images-text-opacity: 0;
  --accordion-with-images-icon-size: 1rem;
  --accordion-with-images-collapsing-grid-fr: 0fr;
  --accordion-with-images-item-grid-gap: 0;
  display: block;
  position: relative;
  z-index: 1;
}
.\#accordion-with-images-body {
  padding: var(--glob-size-10);
  gap: var(--glob-size-12);
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
}
.\#accordion-with-images-thumbnails {
  display: flex;
  flex-direction: column;
  gap: var(--glob-size-4);
}
.\#accordion-with-images-thumbnail {
  display: grid;
  grid-template-rows: 1em var(--accordion-with-images-collapsing-grid-fr);
  grid-gap: var(--accordion-with-images-item-grid-gap);
  padding-bottom: var(--glob-size-4);
  border-bottom: 1px solid currentColor;
  transition: var(--transition-base);
  opacity: 0.6;
}
.\#accordion-with-images-thumbnail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: var(--glob-size-4);
}
@media (prefers-reduced-motion: reduce) {
  .\#accordion-with-images-thumbnail {
    transition: 0s;
  }
}
.\#accordion-with-images-thumbnail.\!active {
  --accordion-with-images-icon-transform: rotate(180deg);
  --accordion-with-images-text-opacity: 0.8;
  --accordion-with-images-collapsing-grid-fr: 1fr;
  --accordion-with-images-item-grid-gap: var(--glob-size-4);
}
.\#accordion-with-images-thumbnail-heading {
  display: flex;
  align-items: center;
  gap: var(--glob-size-2);
  font-size: 1.15rem;
  line-height: 1;
}
.\#accordion-with-images-thumbnail-heading .\#icon {
  --size: 1em;
}
.\#accordion-with-images-thumbnail-text {
  overflow: hidden;
  max-width: 55ch;
}
.\#accordion-with-images-thumbnail-text > div {
  transition: var(--transition-base);
  opacity: var(--accordion-with-images-text-opacity);
}
@media (prefers-reduced-motion: reduce) {
  .\#accordion-with-images-thumbnail-text > div {
    transition: 0s;
  }
}
.\#accordion-with-images-thumbnail-icon {
  transform: var(--accordion-with-images-icon-transform);
  opacity: 0.36;
  transition: var(--transition-base);
  position: relative;
}
.\#accordion-with-images-thumbnail-icon .\#icon {
  width: var(--accordion-with-images-icon-size);
  height: var(--accordion-with-images-icon-size);
}
@media (prefers-reduced-motion: reduce) {
  .\#accordion-with-images-thumbnail-icon {
    transition: 0s;
  }
}
@media (max-width: 991px) {
  .\#accordion-with-images-thumbnail-icon {
    margin-right: var(--accordion-with-images-icon-size);
  }
}
.\#accordion-with-images-thumbnail.\!active {
  opacity: 1;
}
.\#accordion-with-images-thumbnail.\!active .\#accordion-with-images-thumbnail-icon {
  opacity: 1;
}
.\#accordion-with-images-media-wrapper {
  position: relative;
  height: auto;
}
.\#accordion-with-images-media {
  opacity: 0;
  transition: var(--transition-base);
}
@media (prefers-reduced-motion: reduce) {
  .\#accordion-with-images-media {
    transition: 0s;
  }
}
.\#accordion-with-images-radio:checked + .\#accordion-with-images-media {
  opacity: 1;
}
.\#accordion-with-images-radio:not(:checked) + .\#accordion-with-images-media {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}