.\#announcement-bar {
  display: block;
  position: relative;
  text-align: center;
  font-weight: bold;
  height: 100%;
}
.\#announcement-bar.\@with-close-button .\#slideshow-blaze {
  --slideshow-blaze-arrow-offset: var(--glob-size-20);
  --slideshow-blaze-arrow-color: currentColor;
}
.\#announcement-bar-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 21;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.2rem;
  right: 1rem;
  cursor: pointer;
  color: currentColor;
}
.\#announcement-bar-text {
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.15rem;
  gap: 0.7em;
  line-height: normal;
}
.\#announcement-bar-text-icon .\#icon {
  --size: 1.4rem;
}