.\#collection-sidebar:not(.\@drawer) {
  --sticky-offset: calc(var(--header-height, 0px) + var(--navbar-height, 0px));
  height: calc(100vh - var(--header-height, 0px) - var(--navbar-height, 0px) - 2rem);
  overflow-y: auto;
}
@media (min-width: 992px) {
  .\#collection-sidebar:not(.\@drawer) {
    position: sticky;
    top: calc(2rem + var(--sticky-offset));
  }
}
.\#collection-sidebar.\@show-bg {
  padding: var(--glob-size-4);
  border-radius: var(--glob-border-radius-base);
  background: var(--color-g-bg);
}
.\#collection-sidebar-sort {
  padding-block: var(--glob-size-4);
  margin-bottom: var(--glob-size-4);
  border-bottom: 1px solid var(--color-g-border);
}
.\#collection-sidebar-filters {
  position: relative;
  height: 100%;
  overflow-x: clip;
}
.\#collection-sidebar-filters-close-button {
  z-index: 2;
  position: sticky;
  bottom: 0;
  display: block;
  padding-block: var(--glob-size-4);
  background-color: var(--color-g-fg);
}