.\#product-form .shopify-payment-button__button--unbranded {
  font-family: var(--glob-button-family);
  font-size: var(--glob-button-size);
  font-weight: var(--glob-button-weight);
  text-transform: var(--glob-button-transform);
  letter-spacing: var(--glob-button-letter-spacing, normal);
  word-spacing: max(var(--glob-button-letter-spacing) * 1.1, 0.25em);
}

body.glob--button-pill .\#product-form .shopify-payment-button__button--unbranded, .\#product-form body.glob--button-pill .shopify-payment-button__button--unbranded {
  border-radius: var(--glob-border-radius-pill);
}

body:not(.glob--button-pill) .\#product-form .shopify-payment-button__button--unbranded, .\#product-form body:not(.glob--button-pill) .shopify-payment-button__button--unbranded {
  border-radius: var(--glob-border-radius-base);
}

.\#product-form product-dynamic-checkout.\!disabled {
  opacity: 0.5;
  pointer-events: none;
  z-index: 2;
}
.\#product-form .shopify-payment-button__button--unbranded {
  padding: 1.1em 1.75em;
  height: auto;
  background-color: var(--color-g-button-buy-it-now-bg);
  color: var(--color-g-button-buy-it-now-text);
  font-size: max(var(--glob-button-size) * 1.1, 1rem);
}
.\#product-form .shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: var(--color-g-button-buy-it-now-bg-hover);
}
.\#product-form shopify-accelerated-checkout {
  --shopify-accelerated-checkout-button-block-size: 52px;
}
.\#product-form shopify-accelerated-checkout-cart {
  --shopify-accelerated-checkout-button-block-size: 42px;
}
.\#product-form shopify-accelerated-checkout,
.\#product-form shopify-accelerated-checkout-cart {
  --shopify-accelerated-checkout-button-border-radius: var(--glob-border-radius-base);
}
body.glob--border-radius-rounded .\#product-form shopify-accelerated-checkout,
body.glob--border-radius-rounded .\#product-form shopify-accelerated-checkout-cart {
  --shopify-accelerated-checkout-button-border-radius: var(--glob-border-radius-pill);
}

body.glob--button-pill .\#product-form shopify-accelerated-checkout,
body.glob--button-pill .\#product-form shopify-accelerated-checkout-cart {
  --shopify-accelerated-checkout-button-border-radius: var(--glob-border-radius-pill);
}

.\#product-form-add-to-cart {
  display: flex;
  align-items: center;
  display: flex;
  gap: var(--glob-size-2);
}
.\#product-form-add-to-cart product-to-cart {
  flex-grow: 1;
}
.\#product-form-recipient {
  display: block;
  margin-bottom: var(--glob-size-4);
}
.\#product-form-recipient-fields {
  margin-top: var(--glob-size-2);
  display: none;
}
.\#product-form-recipient-fields .\#form-field:not(:last-of-type) {
  margin-bottom: var(--glob-size-2);
}
.\#product-form-recipient-field-info {
  font-size: 0.7rem;
  opacity: 0.64;
}
.\#product-form-recipient.\!active .\#product-form-recipient-fields {
  display: block;
}