.\#product-options-list-product-sold-out {
  font-family: var(--glob-button-family);
  font-size: var(--glob-button-size);
  font-weight: var(--glob-button-weight);
  text-transform: var(--glob-button-transform);
  letter-spacing: var(--glob-button-letter-spacing, normal);
  word-spacing: max(var(--glob-button-letter-spacing) * 1.1, 0.25em);
}

.\#product-options-list {
  contain: paint;
  display: block;
  min-height: 100%;
  max-height: max-content;
  width: min(90vw, 900px);
  background-color: var(--color-g-fg);
  box-shadow: var(--color-scheme-box-shadow-drop);
}
.\#product-options-list.\!stock-only .\#product-options-list-product:not(.\@available) {
  display: none;
}
.\#product-options-list-header {
  padding: 2rem;
}
.\#product-options-list-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.\#product-options-list-stock-toggle-label {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-inline: auto;
}
.\#product-options-list-stock-toggle-input:checked + .\#product-options-list-stock-toggle-switch {
  background: var(--color-g-accent);
  border-color: var(--color-g-accent);
}
.\#product-options-list-stock-toggle-input:checked + .\#product-options-list-stock-toggle-switch::after {
  margin-left: 16.2px;
  background: var(--color-g-fg);
}
.\#product-options-list-stock-toggle-switch {
  width: 36.2px;
  border-radius: 999rem;
  border: 2px solid var(--color-g-text);
  display: flex;
}
.\#product-options-list-stock-toggle-switch::after {
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--color-g-text);
  margin: 2px;
  transition: var(--transition-base);
}
@media (prefers-reduced-motion: reduce) {
  .\#product-options-list-stock-toggle-switch::after {
    transition: 0s;
  }
}
.\#product-options-list-product-title {
  margin-bottom: 1rem;
  max-width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.\#product-options-list-modal-close {
  margin-left: 1rem;
  cursor: pointer;
}
@media (max-width: 991px) {
  .\#product-options-list-modal-close {
    position: relative;
  }
  .\#product-options-list-modal-close::before {
    content: "";
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.\#product-options-list-sort-caret {
  opacity: 0;
  pointer-events: none;
}
.\#product-options-list-sort-caret .\#icon {
  --size: 1rem;
}
.\#product-options-list-table {
  width: 100%;
  border-collapse: collapse;
}
.\#product-options-list-table-heading {
  user-select: none;
}
.\#product-options-list-table-heading.\@sorting {
  cursor: pointer;
}
.\#product-options-list-table-heading-inner {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.\#product-options-list-table-heading.\!active.\!reverse .\#product-options-list-sort-caret {
  transform: rotate(180deg);
}
.\#product-options-list-table-heading.\!active .\#product-options-list-sort-caret {
  opacity: 1;
}
.\#product-options-list-table-wrapper {
  width: 100%;
  overflow-x: auto;
}
.\#product-options-list-table thead {
  background-color: var(--color-g-border);
}
.\#product-options-list-table th {
  text-align: left;
}
.\#product-options-list-table th, .\#product-options-list-table td {
  padding: 1rem 2rem;
  white-space: nowrap;
}
.\#product-options-list-table td {
  border-top: 1px solid var(--color-g-border);
  border-bottom: 1px solid var(--color-g-border);
}
.\#product-options-list-action-column {
  text-align: center;
}
.\#product-options-list-product-media {
  width: 8rem;
}
.\#product-options-list-product-price .\#price {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.\#product-options-list-product-price .\#price-item.\@regular {
  font-size: 1.1rem;
  font-weight: var(--font-body-weight-bold);
}
.\#product-options-list-product-price .\#price-item.\@on-sale {
  color: var(--color-g-sale);
}
.\#product-options-list-modal .\#modal-container {
  --modal-container-content-overflow: hidden auto;
  --modal-container-content-background-color: var(--color-g-fg);
}
.\#product-options-list-modal-link {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-family: var(--glob-button-family);
  font-size: var(--glob-button-size);
  font-weight: var(--glob-button-weight);
  text-transform: var(--glob-button-transform);
  letter-spacing: var(--glob-button-letter-spacing, normal);
}
.\#product-options-list-modal-link .\#icon {
  --size: 1.3em;
}
.\#product-options-list-product:not(.\@available) {
  opacity: 0.7;
}